{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div class="row">
    <div class="col">
        <div class="author-info badge bg-danger text-wrap strong"> Written by <a class="author-link text-white"
                href="https://blog.ai-media.tv/blog/author/gemma-matheson" target="_blank">Gemma Matheson</a></div>
    </div>
</div>
<div class="row">
    <div class="col py-4"><img src="https://blog.ai-media.tv/hubfs/Sign-Language-Blog.jpg" alt=""></div>
</div>
<div class="row">
    <div class="col">
        <p class="text-justify">
            Sign languages are visual languages that use hand, facial and body
            movements as a means of communication. There are over 135 different sign languages all around the
            world including American Sign Language (ASL), Australian Sign Language (Auslan) and British Sign
            Language (BSL). &nbsp;There are also signed representations of oral languages such as Signed Exact
            English (SEE) and mixes such as Pidgin Signed English (PSE). Sign language is commonly used as the
            main form of communication for people who are Deaf or hard of hearing, but sign languages also have
            a lot to offer for everyone. Check out this list of why sign languages are awesome!
        </p>
        <!--more-->
        <h3 class="text-red"><strong>1. Important for Deaf people</strong></h3>
        <p class="text-justify">
            Of course we can’t ignore the most obvious reason why sign languages are
            awesome.&nbsp; Sign languages are an extremely important communication tool for many deaf and
            hard-of-hearing people.&nbsp; Sign languages are the native languages of the Deaf community and
            provide full access to communication. Although sign languages are used primarily by people who are
            deaf, they are also used by others, such as people who can hear but can’t speak.
        </p>
        <h3 class="text-orange"><strong>2. More expressive</strong></h3>
        <p class="text-justify">
            Sign languages aren’t just about the hands, they're also about the
            movement of a person’s arms, body and facial expressions. Facial expressions in sign languages can
            express both emotion and grammatical information. For instance, eyebrows can be raised and lowered
            to change the structure of a sentence from a statement to a question. So if you’re ever speaking in
            a sign language make sure your facial expressions are correct or you could
            be saying something completely different to what you mean. Plus, with all the extra movement that
            goes into it, anyone who speaks a sign language is probably burning a few calories every time they
            talk.
        </p>
        <h3 class="text-yellow"><strong>3. Listening with your eyes</strong></h3>
        <p class="text-justify">
            People who know a sign language are often much better listeners. When
            using a sign language, a person must engage in constant eye contact with the person who is speaking.
            Unlike spoken language, with sign languages a person cannot look away from the person speaking and
            continue to listen. This can be an extremely beneficial habit to have for spoken language as well as
            sign language. By maintaining eye contact in spoken language, it shows that a person is genuinely
            interested in what the other is saying.
        </p>
        <h3 class="text-green"><strong>4. Helpful for people with Autism Spectrum Disorder</strong></h3>
        <p class="text-justify">
            Some children with Autism Spectrum Disorder (ASD) struggle developing
            verbal communication. Learning a sign language can be a helpful communication tool for some children
            with ASD. Many children with ASD have demonstrated higher quality communication when using a sign
            language instead of or in addition to a spoken language.
        </p>
        <h3 class="text-blue"><strong>5. Having a private conversation in a public place</strong></h3>
        <p class="text-justify">
            This will only work if the conversation can’t be seen by someone who knows
            a sign language. Sign languages can be a great way to gossip without anyone else knowing, and
            passing on confidential information. We know more than a few kids who learned a bit of sign language
            with their friends so they could talk in class without their teachers knowing!
        </p>
        <h3 class="text-purple"><strong>6. Children can acquire sign language the very same way they acquire
                spoken language</strong></h3>
        <p class="text-justify">
            For a child, the stages of acquiring a sign
            language are the same as those for spoken language. The muscles in a baby’s hands grow and develop
            faster than their mouths so signing can be a better option for early communication, especially when
            the child still can’t speak. If a baby’s first language is a sign language, they will often start
            “babbling” with their hands rather than their mouth.
        </p>
        <h3 class="text-pink"><strong>7.&nbsp;Advantages over spoken languages</strong></h3>
        <p class="text-justify">
            Sign languages can be used when the spoken word is physically impossible,
            such as talking underwater, talking through glass, from a distance, at a loud music concert, and
            talking with your mouth full. Sign languages can also&nbsp;let you talk to someone without
            interrupting others with noise. You can tell your friend how much you hate the movie while in the
            cinema without disturbing anyone.
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="text-dark bg-warning badge text-wrap">All info from:
            <a href="https://blog.ai-media.tv/blog/7-reasons-sign-language-is-awesome"
                target="_blank">ai-media.tv</a></p>
    </div>
</div>

{% endblock %}