{% extends "layout.html" %}

{% block title %}
Practice
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col mb-4">
            <h3 class="text-center text-primary">Let's press a letter on your keyboard, and learn the sign!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col mb-2">
            <div class="card mx-auto" style="width: 18rem;">
                <img alt="waiting" class="border card-img-top" src="http://memegen.link/custom/WAITING_FOR_A_KEY.jpg?alt=https://imgflip.com/s/meme/Waiting-Skeleton.jpg">
                <div class="card-body">
                    <p class="card-text text-center"><strong>Press your keyboard</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}